<div *ngIf="navigationItems" class="myNavBar">
    <ion-list class="ion-no-padding">
        <ion-item *ngFor="let product of navigationItems.data;
                            let i = index;
                            let isFirst = first;
                            let isOdd = odd;
                            ">
            <ion-label class="ion-text-center ion-text-wrap ion-padding-horizontal ion-text-uppercase" (click)="selectMenu(product.title)">{{product.title}}</ion-label>
        </ion-item>
    </ion-list>
</div>
<!-- <a routerLink="/login"> testing link</a> -->