<div *ngIf="navigationItems" class="myNavBar">
    <ion-list class="ion-no-padding">
        <ion-item button="true" id="menu_button_{{i}}" *ngFor="let product of navigationItems.data;
                            let i = index;
                            ">
            <!-- <ion-label class="ion-text-center ion-text-wrap ion-padding-horizontal ion-text-uppercase" (click)="selectMenu(product.title)">{{product.title}}</ion-label> -->
            <ion-label class="ion-text-center ion-text-wrap ion-padding-horizontal ion-text-uppercase"
                    (click)="selectMenu(i)"
                    >{{product.title}}</ion-label>
        </ion-item>
    </ion-list>
</div>
<!-- <a routerLink="/login"> testing link</a> -->