/* You can add global styles to this file, and also import other style files */
// :root{
//     background-color: --ion-primary-color;
// }

:root{
	--ion-background-color: var(--ion-color-primary);
    --ion-text-color:var(--ion-color-primary-contrast);
}

.myOrderButton{
    --ion-border-radius:10px;
}

.myRecipeElement{
    background-color: var(--ion-color-secondary);
    min-height: 150px;
    margin: 0.5px;
}

ion-item{
    --padding-start : 0px;
}

ion-thumbnail{
    margin:auto;
    --border-radius:50%;
    --size:80px;
}

.myNavBar{
    position: sticky;
    top:0;
}
app-navigation-bar{
    position: relative;
}

app-footer,.myFooterDiv{
    position: sticky;
    bottom: 0;
}