/* You can add global styles to this file, and also import other style files */
// :root{
//     background-color: --ion-primary-color;
// }

:root{
	--ion-background-color: var(--ion-color-primary);
    --ion-text-color:var(--ion-color-primary-contrast);
}

ion-chip{
    --background : red;
}

.myOrderButton{
    --ion-border-radius:10px;
}

.myRecipeElement{
    min-height: 150px;
    border: 1px solid var(--ion-color-primary);
    background-color: var(--ion-color-secondary);
}

.active{
    --background-color: red;
    // background-color: var(--ion-color-secondary);
}

ion-item{
    --padding-start : 0px;
    --border-color: var(--ion-color-secondary);
}

ion-thumbnail{
    margin:auto;
    --border-radius:50%;
    --size:80px;
}

.myNavBar{
    position: sticky;
    top:0;
}
app-navigation-bar{
    position: relative;
}

app-footer,.myFooterDiv{
    position: sticky;
    bottom: 0;
}